 @import url('https://fonts.googleapis.com/css?family=Roboto');

html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Roboto";
}
.navbar{
    background: #6a788d;
}

.nav-link, .navbar-brand{
    color:#ffffff; 
    cursor: pointer;
}

.nav-link{
    margin-right: 1em !important;
}

.nav-link:hover, .navbar-brand:hover{
    background: #ffffff; 
    color: #6a788d;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-toggler{
    background: #ffffff !important;
}

/* header style */
.header{
  background-image: url('../images/backdrop.JPG');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.description{
  position: absolute;
  top: 10%;
  margin: auto;
  text-align: center;
}

.description img{
  display: block;
  margin: auto;
  width: 50%;
}

.description .fa{
  padding: 0.5em;
  font-size: 2.5em;
  width: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #6a788d;
  color: white;
  margin: 0.5em;
  opacity: 0.8;
}

.description .fa:hover{
  opacity: 0.5;
}

/* about style */
.about{
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.about h1{
  color: #5b5b57;
  margin: 2em;
}

.about img{
  border-radius: 50%;
}

.about .desc{
 padding: 2em;
 border-left: 4px solid #5b5b57;
}
.about .desc h3{
 color: #6a788d;
}
.about .desc p{
 line-height: 2;
 color:#888;
}

/* experience style */
.experience{
  margin: 4em 0;
  padding: 1em;
  position: relative;
  background: #f1ded7;
}

.experience h1{
  color: #5b5b57;
  margin: 2em;
}

.experience .card{
  box-shadow: 0 0 20px #cccccc;
  margin: 1em;
  padding: 0;
}

.experience .card-title{
  color: #6a788d;
  text-align: center;
}

.experience .card-subtitle{
  color: #6a788d;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 2px solid #5b5b57;
}

.experience .card-body{
  padding: 1em;
}

.experience .card-body ul{
  padding: 1em;
  color: #888
}

.experience .card-header, .card-footer{
  color: #ffffff;
  text-align: center;
  width: 100%;
  background: #5b5b57;
}

/* artwork style */
.artwork{
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.artwork h1{
  color: #6a788d;
  margin: 2em;
}

.artwork .container{
  background: #5b5b57;
}

.artwork img{
  display: block;
  height: 50%;
  width: 50%;
  margin: auto;
}