 @import url('https://fonts.googleapis.com/css?family=Roboto');

@media (max-width: 992px) {
  body, .navbar-brand {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  .header .description {
    top: 25%;
  }
  .experience .row {
    display: block;
  }
}

@media (min-width: 992px) {
  .description img {
    width: 50%;
  }
}

html,h1,h2,h3,h4,h5,h6,a {
	font-family: "Roboto";
}
.navbar{
  background: #6a788d;
}

.nav-link, .navbar-brand {
  color:#ffffff; 
  cursor: pointer;
}

.nav-link{
  margin-right: 1em !important;
}

.nav-link:hover, .navbar-brand:hover {
  background: #ffffff; 
  color: #6a788d;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #ffffff !important;
}

/* header style */
.header {
  background-attachment: fixed;
  background-image: url('../images/backdrop.JPG');
  background-position: center;
  background-size: cover;
}

.description {
  margin: auto;
  position: absolute;
  text-align: center;
  top: 10%;
}

.description img {
  display: block;
  margin: auto;
}

.description .fa {
  background: #6a788d;
  border-radius: 50%;
  color: white;
  font-size: 2.5em;
  margin: 0.5em;
  opacity: 0.8;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.description .fa:hover {
  opacity: 0.5;
}

/* about style */
.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.about h1 {
  color: #5b5b57;
  margin: 2em;
}

.about img {
  border-radius: 50%;
}

.about .desc {
  border-left: 4px solid #5b5b57;
  padding: 2em;
}
.about .desc h3 {
  color: #6a788d;
}
.about .desc p {
  color:#888;
  line-height: 2;
}

/* experience style */
.experience {
  background: #f1ded7;
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.experience h1 {
  color: #5b5b57;
  margin: 2em;
}

.experience .card {
  box-shadow: 0 0 20px #cccccc;
  margin: 1em;
  padding: 0;
}

.experience .card-title {
  color: #6a788d;
  text-align: center;
}

.experience .card-subtitle {
  border-bottom: 2px solid #5b5b57;
  color: #6a788d;
  padding-bottom: 1em;
  text-align: center;
}

.experience .card-body {
  padding: 1em;
}

.experience .card-body ul {
  color: #888;
  padding: 1em;
}

.experience .card-header, .card-footer {
  background: #5b5b57;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

/* artwork style */
.artwork {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.artwork h1 {
  color: #6a788d;
  margin: 2em;
}

.artwork .container {
  background: #5b5b57;
}

.artwork img {
  display: block;
  height: 50%;
  margin: auto;
  width: 50%;
}

/* comments style */
.comments {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.comments h1 {
  color: #6a788d;
  margin: 2em;
}

.comments .signin-section {
  padding: 1em;
}

.comments .signin-text {
  color: #5b5b57;
  margin: 0;
}

.comments .g-signin2 {
  margin: 1em;
}

.comments .signout {
  margin-right: 2em;
}

.comments .new-comment-form {
  background: #f5f5f5;
  display: none;
  padding: 1em;
}

.comments .new-comment-form .name {
  margin-top: 2em;
}

.comments .new-comment-form textarea {
  margin-top: 1em;
  width: 90%;
}

.comments input {
  background: #6a788d;
  border: none;
  color: white;
  margin: 0.5em;
  padding: 0.25rem;
}

.comments .new-comment-form .profile {
  border-radius: 50%;
  margin-left: 2em;
  margin-top: 1em;
}

.comments .new-comment-form .comment {
  justify-content: center;
}

.comments .new-comment-form .submit {
  justify-content: flex-end;
  margin-right: 2em;
}

.comments select{
  border: none;
  color: #5b5b57;
  margin-right: 0.5em;
}

.comments ul{
  list-style-type: none;
  padding: 0;
}

.comments label {
  color: #5b5b57;
}

.comments .comments-container li{
  border-bottom: solid 2px #f5f5f5;
  margin: 1em;
  padding: 1em;
}

.comments .comments-container .account {
  border-radius: 50%;
}

.comments .comments-container .delete {
  color: #5b5b57
}

.comments .name {
  color: #5b5b57;
  font-weight: bold;
}

.comments .comments-container .message {
  color: #5b5b57;
}

.comments .comments-container button {
  background: none;
  border: none;
  outline: none;
} 

/* dessert gallery style */
.dessert-gallery {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.dessert-gallery h1 {
  color: #5b5b57;
  margin-top: 2em;
}

.dessert-gallery h4 {
  color: #6a788d;
  margin-bottom: 2em;
}

.dessert-gallery img {
  margin-bottom: 1em;
}

/* dessert map style */
.dessert-map {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.dessert-map h1 {
  color: #5b5b57;
  margin: 2em;
}

.dessert-map h3 {
  color: #5b5b57;
  justify-content: center;
  margin: 2em;
}

.dessert-map select {
  border: none;
  color: #5b5b57;
  justify-content: center;
  margin-bottom: 1em;
  padding: 1em;
  width: 50%;
}

.dessert-map input {
  background: #6a788d;
  border: none;
  color: white;
  justify-content: center;
  padding: 0.25rem;
  width: 50%;
}

.map {
  height: 50em;
}

.nicebox {
  position: absolute;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  z-index: 5;
  box-shadow: 0 4px 6px -4px #333;
  padding: 5px 10px;
  background: rgb(255,255,255);
  background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
  border: rgb(229, 229, 229) 1px solid;
}

.data-box {
  margin: 4em;
  margin-top: 10em;
  width: 10%
}

.data-box ul {
  list-style-type: none;
  padding: 0;
}


.data-box p {
  font-size: 1em;
}

.data-box label {
  font-size: 1.5em;
  font-weight: bold;
}

.data-box .cheesecake-value {
  background-color: #f1ded7;
}

.data-box .apple-pie-value {
  background-color: #c3c9d1;
}

.data-box .chocolate-chip-cookies-value {
  background-color: #c9bcc9;
}

.data-box .tiramisu-value {
  background-color: #ceafb5;
}

.data-box .chocolate-cake-value {
  background-color: #c0dadb;
}
